body {
    background: #DBDBDB;
    font-family: Arial;
}

.connection,
.form,
.buttons,
.results
{
    margin: 0 auto 1em auto;
    max-width: 1200px;
    background: #fff;
    border: 1px solid silver;
    border-radius: 3px;
}

.connection 
{
    font-size: 0.8em;
    overflow: hidden;
}

.connection>div,
.credentials,
.csv,
.buttons>div,
.results>div,
.csv_result {
    margin: 1em;
}
.connection span {
    font-weight: bold;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%;
}

.form {
    overflow: hidden;
}

.form .credentials {
    width: 30%;
    float: left;
}

.form .csv {
    float: right;
    width: 60%;
}

.form input,
.form textarea
{
    width: 100%;
    padding: 5px;
}

.results row {
    display: table;
    border-bottom: 1px dotted silver;
    width: 100%;
}

.results row * {
    display: table-cell;
    padding: 3px;
    border-left: 1px dotted silver;
}

.results row.head
{
    border: none;
    background: #D7CFE8;
    font-size: 0.8em;
    font-weight: bold;
}

.results row.complete {
    background: #B7FCA4;
}

.results row.error {
    background: #FCA4A4;
}

.results row.head * {
    border: none;
}

.results row to {
    width: 15%;
}

.results row amount {
    width: 10%;
}

.results row memo {
    width: 35%;
}

.results row merch {
    width: 20%;
}

.results row info {
    border-right: 1px dotted silver;
}

.csv_result {
    width: 95%;
    height: 10em;
}


label {
    display: block;
    margin: 1em 0;
}